<form class="form celestials__form">
  <div class="celestials__form__title"><h2>123</h2></div>
  <div class="celestials__form__inputs">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="celestials__form__buttons">
    <button class="form__button" mat-raised-button color="warn" type="reset">Cancel</button>
    <button class="form__button" mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
